<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Visualization Multivariate (Regression Market Value)</title>
  </head>
  <body>
    <ul class="nav nav-pills nav-fill" style="background-color: #051179;">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/"><font color="white" face="arial black" size=5>Home</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/project"><font color="white" face="arial black" size=5>Project</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/dataset"><font color="white" face="arial black" size=5>Dataset</font></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <font color="white" face="arial black" size=5>Visualization</font>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/visualize1"><font face="arial black">Univariate</font></a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/visualize2"><font face="arial black">Multivariate Regression</font></a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/visualize3"><font face="arial black">Multivariate Classification</font></a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <font color="white" face="arial black" size=5>Prediction</font>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/predict1"><font face="arial black">Market Value of House Prediction</font></a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/predict2"><font face="arial black">Segmentation Marketing Prediction</font></a></li>
        </ul>
      </li>
    </ul>
    <h1><div style="background: #051179; border: 2px solid rgb(0, 0, 0); color: white; font-size: 32px; font-weight: bold; letter-spacing: 0.1em; padding: 15px;"><marquee direction="left" scrollamount="10"><font color="white" face="arial black">Visualization Multivariate (Regression Market Value)</font></marquee></div></h1>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <strong>Total Livable Area</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <center><strong>Total Livable Area</strong></center>
            <center>&ensp;<img src="../static/a1totallivablearea.PNG"></center>
            <p><strong>There is a segmented distribution based on market_value and total_livable_area.</strong></p>
          </div>
        </div>
      </div>

  
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Topography</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <center><strong>Topography</strong></center>
            <center>&ensp;<img src="../static/a2topography.PNG"></center>
            <p><strong>Classification of topography:</strong><br/>
              - 1 -> Above<br/>
              - 2 -> Below Street Level<br/>
              - 3 -> Flood Plain or Flood Hazard Zone<br/>
              - 4 -> Rocky <br/>
              - 5 -> Not Identified<br/>
              - 6 -> Level<br/>
              <br/>
           Surprisingly property that was built on below street level and flood plain are <strong>more expensive</strong> than the rest in this data. Below street level property could face a drainage problem, flood plain area are identified as flood hazard zone. <strong>Usually people avoid this kind of area because it has higher possibility in exposed to flood resulting in lower demand (lower price)</strong>.</p>
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>Basements</strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <center><strong>Basements</strong></center>
            <center>&ensp;<img src="../static/a3basements.PNG"></center>
            <p><strong>Basements :</strong><br/>
              - 0 = None – Indicates no basement.<br/>
              - A = Full Finished – Occupies the entire area under the first floor.<br/>
              - B = Full Semi-Finished – Could have some finish to include a floor covering,
                and ceiling. It looks more like a living area rather than a basement.<br/>
              - C = Full Unfinished – Is a typical basement with unfinished concrete floor,
                either rubble stone or cement over stone or concrete walls and would have
                exposed wood joist ceilings.<br/>
              - D = Full – Unknown Finish<br/>
              - E = Partial Finished – Occupies a portion under the first floor. Be careful of
                areas under sheds and porches. If there is a garage at basement level then it is a
                partial basement.<br/>
              - F = Partial Semi-Finished – One or more finished areas.<br/>
              - G = Partial Unfinished<br/>
              - H = Partial - Unknown Finish<br/>
              - I = Unknown Size - Finished<br/>
              - J = Unknown Size - Unfinished<br/>
              <br/>
              The Property which doesn't have a basements, it doesn't mean cheaper than any property which have a basement. Basement type H (partial, unfinished basement) is the lowest based on market value, because it has the smallest total livable area.</p>
          </div>
        </div>
      </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <strong>Central Air</strong>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Central Air</strong></center>
          <center>&ensp;<img src="../static/a4centralair.PNG"></center>
          <p><strong>Property using the central air has higher market value than property without the central air.</strong></p>
        </div>
      </div>
    </div>



    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <strong>Exterior Condition</strong>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Exterior Condition</strong></center>
          <center>&ensp;<img src="../static/a5exteriorcondition.PNG"></center>
          <p><strong>Exterior Condition :</strong><br/>
            -  2. New / Rehabbed – Noticeably new construction<br/>
            -  3. Above Average <br/>
            -  4. Average – would be typical.<br/>
            -  5. Below Average<br/>
            -  6. Vacant – No occupancy.<br/>
            -  7. Sealed / Structurally Compromised<br/>
            <br/>
         From this barplot, as we can see <strong>Above Average for Exterior Condition</strong> is the highest mean price for the property. Surprisingly The New / Rehabbed Exterior Condition mean price is below the Above Average.</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <strong>Interior Condition</strong>
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Interior Condition</strong></center>
          <center>&ensp;<img src="../static/a6interiorcondition.PNG"></center>
          <p><strong>Interior Condition :</strong><br/>
            -  2. New / Rehabbed – Noticeably new construction<br/>
            -  3. Above Average <br/>
            -  4. Average – would be typical.<br/>
            -  5. Below Average<br/>
            -  6. Vacant – No occupancy.<br/>
            -  7. Sealed / Structurally Compromised<br/>
            <br/>
         From this barplot, as we can see <strong>Above Average for Interior Condition</strong> is the highest mean price for the property. Surprisingly The New / Rehabbed Interior Condition mean price is below the Above Average.</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <strong>Garage Type</strong>
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Garage Type</strong></center>
          <center>&ensp;<img src="../static/a7garagetype.png"></center>
          <p><strong>Garage Type :</strong><br/>
            - 0 = None<br/>
            - A = Basement / Built-In - Built into the front or rear basement of the dwelling or built into
              the first floor of the dwelling.<br/>
            - B = Attached Garage - Connected to the dwelling.<br/>
            - C = Detached Garage - A separate building that is not attached to the dwelling or any other
              building.<br/>
            - F = Converted<br/>
            <br/>
          From this barplot, as we can see <strong>Attached Garage</strong> is the highest mean price for the property. But the mean price of <strong>Detached Garage</strong> is not far apart than Attached Garage. And the lowest mean price for the property is for <strong>Basement / Built-In Garage</strong>.</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <strong>Number of Bathrooms</strong>
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Number of Bathrooms</strong></center>
          <center>&ensp;<img src="../static/a8numberofbathrooms.png"></center>
          <p><strong>Surprisingly though from this barplot, property with 7 bathrooms has lower price compared with the others.</strong></p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <strong>Number of Bedrooms</strong>
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Number of Bedrooms</strong></center>
          <center>&ensp;<img src="../static/a9numberofbedrooms.png"></center>
          <p><strong>Surprisingly though from this barplot, there is a up trend for number of bedrooms and its align with the market value. <br/>
            For number of bedrooms 14 it is a antique property with a good condition.</strong></p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          <strong>Number of Rooms</strong>
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Number of Rooms</strong></center>
          <center>&ensp;<img src="../static/a10numberofrooms.png"></center>
          <p><strong>Total rooms 24, 25, 26 is a top segment for all this entire property, 24 & 26 is an antique property with a good condition and huge total area, on 25 is an antique property too but have a weakness on type heater and smaller total area.<br/>
            <br/>
            For rooms 46, 76, 79 is an outliers data, nothing special, it just a plenty of number rooms.<br/>
            <br/>
            Different from number of rooms 17 & 18 is condition interior and exterior, majority for number of rooms 18 is average condition, and total living area number of rooms 18 smaller than number 17.<br/>
            <br/>
            Different from number of rooms 19 & 20 is on interior and exterior condition, on number of rooms 20 had an interior and exterior condition below average, so this case made lower the price. For number of rooms 21 have a good condition, but have a fair price.</strong></p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          <strong>Number Stories</strong>
        </button>
      </h2>
      <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Number Stories</strong></center>
          <center>&ensp;<img src="../static/a11numberstories.png"></center>
          <p><strong>As we can see from this barplot, the highest mean price for the property is 4 stories.</strong></p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwelve">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          <strong>Parcel Shape</strong>
        </button>
      </h2>
      <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Parcel Shape</strong></center>
          <center>&ensp;<img src="../static/a12parcelshape.png"></center>
          <p><strong>Land Shape :</strong><br/>
            - a. Irregular - This would be a lot other than a square, rectangular or a triangle. It is not a
                 grossly irregular shape.<br/>
            - b. Grossly Irregular - This relates to a shape that may include curves, narrow portions, long
                 access driveways or shapes where there are possibly portions of the site that cannot be
                 utilized because of the physical shape.<br/>
            - c. Triangular - This is a parcel of land that is triangular in shape.<br/>
            - d. Right of way - A long narrow parcel of land.<br/>
            - e. Rectangular<br/>
            <br/>
         As we can see from this barplot, the highest mean price for the property that have a <strong>Uncommon land shape</strong>.</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThirteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          <strong>Fireplaces</strong>
        </button>
      </h2>
      <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Fireplaces</strong></center>
          <center>&ensp;<img src="../static/a13fireplaces.png"></center>
          <p><strong>As we can see from this barplot, more of fireplaces is more expensive for the property price.</strong></p>
        </div>
      </div>
    </div>

    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFourteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          <strong>Type Heater</strong>
        </button>
      </h2>
      <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Type Heater</strong></center>
          <center>&ensp;<img src="../static/a14typeheater.png"></center>
          <p><strong>Type of heater or heating system.</strong><br/>
            - a. Hot air (ducts)<br/>
            - b. Hot water (radiators or baseboards)<br/>
            - c. Electric baseboard<br/>
            - d. Heat pump (outside unit).<br/>
            - e. Other (Portable heater).<br/>
            - g. Radiant<br/>
            - h. Undetermined<br/>
            <br/>
            As we can see from this barplot, type heater C, D, E is the highest price, and H is the lowest price because the type of heater is undetermined.</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFifteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          <strong>View Type</strong>
        </button>
      </h2>
      <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>View Type</strong></center>
          <center>&ensp;<img src="../static/a15viewtype.png"></center>
          <p><strong>View type</strong><br/>
            - 0 = None<br/>
            - A = Cityscape / Skyline<br/>
            - B = Flowing Water<br/>
            - C = Park/Green Area<br/>
            - D = Commercial<br/>
            - E = Industrial<br/>
            - H = Edifice / Landmark<br/>
            - I = Typical / Other.<br/>
            <br/>
            As we can see from this barplot, view type Park/Green Area is the highest price for property.</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSixteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          <strong>Street Designation</strong>
        </button>
      </h2>
      <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Street Designation</strong></center>
          <center>&ensp;<img src="../static/a16streetdesignation.png"></center>
          <p><strong>As we can see from the barplot, street designation ALY (Alley) is the highest average price, but Alley just have 1 data and this is cannot be applicable. Otherwise CT (Court) & Mews (MEW) is the highest average price with a lot of data, because the type of CT & MEW street designation have a better access.</strong></p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeventeen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
          <strong>Zoning</strong>
        </button>
      </h2>
      <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Zoning</strong></center>
          <center>&ensp;<img src="../static/a17zoning.png"></center>
          <p><strong>As we can see from this barplot, the highest price for zoning type 8, because the higher of zoning type is having bigger area.</strong></p>
        </div>
      </div>
    </div>

    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEighteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
          <strong>Building Description</strong>
        </button>
      </h2>
      <div id="collapseEighteen" class="accordion-collapse collapse" aria-labelledby="headingEighteen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Building Description</strong></center>
          <center>&ensp;<img src="../static/a18buildingdescription.png"></center>
          <p><strong>As we can see from this barplot, STONE has the highest price, this is indicates that the building is an antique property.</strong><br/>
            - Masonry is the building of structures from bricks, and concrete.<br/>
            - Frame is the building of structures from steels. Steel is more costly than bricks but it is stronger and easier to built<br/>
            - Masonry + Other is the building of structures from bricks and steels.</p>        
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNineteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
          <strong>Section</strong>
        </button>
      </h2>
      <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <center><strong>Section</strong></center>
          <center>&ensp;<img src="../static/a19section.png"></center>
          <p><strong>Central City has more expensive buildings than the North therefore as we can see previously, most people prefer to have their properties up North.</strong></p>
        </div>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>